@model IEnumerable<Projetki_App.Models.Henkilot>

@{
    ViewBag.Title = "Index";
}
@section scripts {
<script src="~/scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".näytäProjektitNappi").click(function() {
                //alert("Nappia painettu!");
                var p1 = $(this).parent();
                alert(p1);
                $(this).parent().parent().next().css("display", " block");
            });
        });
        </script>
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Henkilo_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esimies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="#"><span class="glyphicon glyphicon-plus näytäProjektitNappi"></span></a>
            @Html.DisplayFor(modelItem => item.Henkilo_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esimies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    <tr style="display: none;">
        <td>&nbsp;</td>
        <td>Testi...</td>
    </tr>

}

</table>
